/* CSS 선택자(Selector) */

/* 전체 선택자 */
* {
  color: inherit;
}

/* 가상 요소 선택자 */
::selection {
  background: #373e6a;
  color: hotpink;
}

/* 태그 선택자 */
body {
  font-family: "SUIT";
  font-weight: 300;
  background-color: #000;
  color: hsla(110, 100%, 100%, 1);
}

/* 클래스 선택자 */
.fancy {
  font-weight: bold;
  text-shadow: 4px 4px 3px #77f;
}

.align {
  text-align: center;
}

ul.menu {
  margin: 0;
  padding-left: 0;
  color: #0f0;
}

/* 아이디 선택자 */
#demo {
  border: red 5px solid;
}

/* 속성 선택자 */
.menu a[href$=".html"] {
  background-color: blue;
}

/* 선택자 목록 */
.fancy,
.menu {
  font-size: 24px;
}

/* 가상 요소 선태자 */
.align::before {
  content: "이전 요소";
}

.align::after {
  content: "다음 요소";
}

/* 가상 클래스 */
.menu li:nth-child(odd) {
  color: yellow;
}

.menu a:hover {
  border: 5px solid orange;
}

h1.menu:hover,
h1.menu:focus {
  background-color: teal;
}
