body {
  font-family: "SUIT";
  font-weight: 700;
}

.menu {
  color: gray;
  font-size: 36px;
  border: 5px green dashed;
}

.menu .pick {
  background-color: yellow;
}

.menu li {
  background-color: pink;
}

.menu a {
  color: inherit;
}
