body {
  margin: 50px;
}

.flip-button {
  background-color: #485fc7;
  border-color: transparent;
  color: #fff;
  border-width: 1px;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  padding: 16px;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
}

.card-wrapper {
  width: 750px;
  height: 400px;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-face-black {
  border: 2px solid #000;
  background: url("../images/likelion-black.png");
}

.card-face-white {
  border: 2px solid #aaa;
  background: url("../images/likelion-white.png");
  transform: rotateY(180deg);
}
