body {
  margin: 50px;
  background: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.voting-result-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}

.voting-result-button {
  background-color: #485fc7;
  border-color: transparent;
  color: #fff;
  border-width: 1px;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  padding: 16px;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
  margin: 0 40px;
}

.voting-result {
  position: relative;
}

.voting-result:focus::after {
  content: "최종 순위 발표 영상";
  position: absolute;
  left: 70%;
  top: 110%;
  white-space: nowrap;
  background-color: #485fc7;
  border-color: transparent;
  color: #fff;
  border-width: 1px;
  border-radius: 8px;
  padding: 8px;
}

.user-caption {
  font-size: 36px;
  text-align: center;
  margin: 16px;
}
